.buttonContainer {
  min-height: "100vh";
  justify-content: "center";
  align-items: "center" !important;
  position: "absolute" !important;
  bottom: 10px !important;
  text-align: center;
}
.alphaBox1 {
  display: "flex";
  align-items: "center";
}
.alphaBox2 {
  display: "flex";
  align-items: "center";
}
.buttonGroup {
  margin: 5px 10px 5px 10px !important;
}
.buttonGroup:active {
  transform: translateY(4px);
}
.image-box {
  align-items: "center" !important;
  position: "absolute" !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}
.radio {
  background-color: rgba(0, 255, 242, 0.5);
  width: 50%;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
}
.hangman-info {
  align-items: "center" !important;
  position: "absolute" !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  font-family: "Nunito";
  font-size: 2rem;
}
