.title {
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center !important;
}

.Easy {
  color: green !important;
}
.Medium {
  color: blue !important;
}
.Hard {
  color: red !important;
}
